body{
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 32%, rgba(148, 187, 233, 1) 100%);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: bottom;     /* Vertical centering */
    text-align: center; 
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 3rem;
  color: #222;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}   

/*h1::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: #ebe6e6;
  margin: 10px auto;
}  */ 

.heading {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  text-align: center;
}
.heading::before, .heading::after {
  content: '';
  display: block;
  border-bottom: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}   